body {min-width:970px;}
.page {width:100%;overflow:hidden;}
.container {width:970px;max-width:none !important;}
.w1920 {width:1920px;margin:0 -475px;}
.h-rel {position:relative;}
.h-abs {position:absolute;}
